
context "math()"
snippet bthm "binomial theorem" iA
\sum_{$1=0}^{$2} {$2 \choose $1} $3^{$2-$1} $4^{$1}  
endsnippet

context "math()"
snippet choo "n choose k" iA
\binom{${1:n}}{${2:k}}$0
endsnippet
