
snippet grp "group" w
group $0
endsnippet

snippet abel "abelian" w
abelian $0
endsnippet

snippet cmta "commutative" w
commutative $0
endsnippet

snippet cmuta "commutative" w
commutative $0
endsnippet
