
snippet rel "relation" w
relation $0
endsnippet

snippet rflx "reflexive" w
reflexive $0
endsnippet

snippet sym "symmetric" w
symmetric $0
endsnippet

snippet ttv "transitive" w
transitive $0
endsnippet		

snippet eqv "equivalence" Options
equivalence $0
endsnippet
