snippet sn "The Snippet Snippet"
snippet ${1:Trigger} "${2:Description}" ${3:Options}
${0}
`echo endsnippet`
endsnippet

snippet wsn "Word Snippet Snippet"
snippet ${1:Trigger} "${2:Word}" w
$2
`echo endsnippet`
endsnippet

snippet tsn "Text Snippet Snippet"
snippet ${1:Trigger} "${2:Description}" ${3:Options}
${0}
`echo endsnippet`
endsnippet

snippet msn "Math Snippet Snippet"
context "math()"
snippet ${1:Trigger} "${2:Description}" ${3:Options}
${0}
`echo endsnippet`
endsnippet

