global !p
from math_snippet_helpers import *
endglobal

snippet pf "Proof" bA
\begin{proof}
	$0
\end{proof}
endsnippet



snippet pind "Proof by induction" b
\begin{itemize}
	\item Base Case
	\begin{itemize}
		\item $1
	\end{itemize}
	\item Induction Step
	\begin{itemize}
		\item $2
	\end{itemize}
\end{itemize}
endsnippet
