global !p
from math_snippet_helpers import *
endglobal


context "math()"
snippet cn "Complex Number" iA
${1:a} + ${2:b}i $0
endsnippet

context "math()"
snippet RE "real part of a complex number" A
\Re\left( $1 \right) $0
endsnippet

context "math()"
snippet IM "imaginary part of a complex number" A
\Im\left( $1 \right) $0
endsnippet



