snippet algo "algorithm" w
algorithm $0
endsnippet

snippet fin.aut "finite automaton" w
finite automaton
endsnippet

snippet bin "binary" w
binary $0
endsnippet

snippet deci "decimal" w
decimal $0
endsnippet

snippet term "terminate" w
terminate
endsnippet

snippet TM "Turing Machine" w
Turing Machine
endsnippet
