
snippet ht "height" w
height $0
endsnippet


snippet clo "close(st)" w
close${1:st}
endsnippet

snippet tri "triangle" w
triangle $0
endsnippet



snippet vol "volume" w
volume $0
endsnippet

snippet gmt "geometric" w
geometric $0
endsnippet


snippet ori "origin" w
origin $0
endsnippet

snippet locd "located" w
located $0
endsnippet
