global !p
from math_snippet_helpers import *
endglobal


snippet cw "clockwise" w
clockwise $0
endsnippet

snippet ccw "counter clockwise" w
counter clockwise $0
endsnippet

snippet rot "rotation" w
rotation $0
endsnippet

snippet refl "reflection" w
reflection $0
endsnippet

snippet refld "reflected" w
reflected $0
endsnippet
