global !p
from math_snippet_helpers import *
endglobal


context "math()"
snippet bar "bar" iA
\bar{$1}$0
endsnippet

context "math()"
snippet nabl "nabla" iA
\nabla$0
endsnippet

context "math()"
snippet star "star" iA
\star$0
endsnippet
