global !p
from math_snippet_helpers import *
endglobal


context "math()"
snippet bar "overline" iA
\overline{$1}$0
endsnippet

context "math()"
snippet nt "not" iA
\not
endsnippet

snippet uline "underline" w
\underline{$1}$0
endsnippet

context "math()"
snippet dag "dag" bA
\dag{`date +'%A %0d %B' | sed 's/.*/\u&/'`}

$0
endsnippet
