global !p
from math_snippet_helpers import *
endglobal

snippet ineq "inequality" w
inequality $0
endsnippet

snippet ge "greater than or equal to" w
greater than or equal to $0
endsnippet

snippet le "less than or equal to" w
less than or equal to $0
endsnippet
