global !p
from math_snippet_helpers import *
endglobal


snippet prod "product" w
product $0
endsnippet

snippet polyn "polynomial" w
polynomial $0
endsnippet

snippet coe "coefficients" w
coefficients $0
endsnippet
