global !p
from math_snippet_helpers import *
endglobal

snippet zz "zero" w
zero 
endsnippet

snippet cong "congruent" w
congruent 
endsnippet

snippet rmd "remainder" w
remainder $0
endsnippet

snippet mod "modulo" w
modulo $0
endsnippet

snippet mulpl "multiple(s)" w
multiple${1:s} $0
endsnippet

snippet div "division" w
division $0
endsnippet

snippet divd "divide" w
divide $0
endsnippet

snippet divi "divisible" w
divisible $0
endsnippet
