global !p
from math_snippet_helpers import *
endglobal


snippet pos "positive" w
positive${1:ly} $0
endsnippet

snippet neg "negative" w
negative${1:ly} $0
endsnippet

snippet fin "finite" w
finite $0
endsnippet

snippet nz "non-zero" w
non-zero $0
endsnippet

snippet inf "infinite" w
infinite $0
endsnippet

snippet abs "absolute value" w
absolute value $0
endsnippet
