global !p
from math_snippet_helpers import *
endglobal


snippet commu "commutivity" w
commutivity $0
endsnippet

snippet assoc "associativity" w
associativity $0
endsnippet

snippet distp "distributive property" w
distributive property $0
endsnippet

snippet alg "algebra(ic)" w
algebra${1:ic} $0
endsnippet

snippet ctq "complete the square" w
complete the square $0
endsnippet
