global !p
from math_snippet_helpers import *
endglobal

context "math()"
snippet tri "n-th triangular number" iA
\sum_{${1:i}=1}^{${2:n}} $1 $0
endsnippet

context "math()"
snippet sum "sum" iA
\sum_{${1:i}=${2:0}}^{${3:n}} ${4:${VISUAL}}$0
endsnippet
