global !p
from math_snippet_helpers import *
endglobal

snippet vrt "vertices" w
vertices $0
endsnippet

snippet digra "graph" w
directed graph $0
endsnippet

snippet gra "graph" w
graph $0
endsnippet
