
context "math()"
snippet Big-Oh "Big Oh Definition" w
\exists c, n_{0} \in \mathbb{R^+} \text{ s.t. } \forall n \in \mathbb{N}, n \ge n_{0} \implies $1 \le c \cdot $2
endsnippet

context "math()"
snippet bO "Big Oh- Notation" w
\mathcal{O}($1)$0
endsnippet

context "math()"
snippet BOM "Big Omega" w
\Omega($1)$0
endsnippet
