global !p
from math_snippet_helpers import *
endglobal


snippet pl "plus" w
plus $0
endsnippet

snippet tsm "times" w
times $0
endsnippet

snippet mul "multiplication" w
multipl${1:ication} $0
endsnippet

snippet muld "multiplied" w
multiplied $0
endsnippet

snippet add "addition" w
addition $0
endsnippet

snippet subtr "subtraction" w
subtract${1:ion} $0
endsnippet

snippet min "minimum" w
minimum $0
endsnippet

snippet max "maximum" w
maximum $0
endsnippet
