

snippet cvgs "converges" w
converges $0
endsnippet

snippet cts "continuous" w
continuous $0
endsnippet

snippet nbd "neighbourhood" w
neighbourhood $0
endsnippet

snippet der "derivative" w
derivative $0
endsnippet

snippet sup "supremum" w
supremum $0
endsnippet

snippet inf "infimum" w
infimum $0
endsnippet

snippet lim "limit" w
limit $0
endsnippet
