global !p
from math_snippet_helpers import *
endglobal

snippet Cdiff "differentiable" w
differentiable
endsnippet

snippet Ccvgs "converges" w
converges $0
endsnippet

snippet Ccts "continuous" w
continuous $0
endsnippet

snippet Cnbd "neighbourhood" w
neighbourhood $0
endsnippet

snippet Cder "derivative" w
derivative $0
endsnippet

snippet Csup "supremum" w
supremum $0
endsnippet

snippet Cinf "infimum" w
infimum $0
endsnippet

snippet Clim "limit" w
limit $0
endsnippet
